# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [81]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [82]:
cities_df = pd.read_csv('../Resources/cities.csv')
cities_df.dropna(inplace = True) 
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [93]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

In [94]:
# Plot Heatmap
fig = gmaps.figure()

# # Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                  dissipating=False, max_intensity=10,
                                  point_radius=1)


# # Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [95]:
#City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
#only weather conditions
# Cloudiness, Humidity, Max Temp, Wind Speed
#random ideal weather conditions to apply 

reduced_city_df = cities_df[(cities_df['Wind Speed'] > 8) & (cities_df['Wind Speed'] < 10) & (cities_df['Cloudiness'] == 0) & (cities_df['Max Temp'] < 80)]
                           
reduced_city_df = reduced_city_df.dropna(how='any')

reduced_city_df.reset_index(inplace=True)
                                                                                          
#reduced_city_df.head()      

# narrow down to just city name, weather attributes

weather_reduced_city_df = pd.DataFrame(reduced_city_df, columns = ['City', 'Country','Lat', 'Lng','Humidity', 'Cloudiness', 'Max Temp', 'Wind Speed'])

weather_reduced_city_df

,City,Country,Lat,Lng,Humidity,Cloudiness,Max Temp,Wind Speed
0,castro,CL,-42.48,-73.76,70,0,48.20,9.17
1,varhaug,NO,58.61,5.65,63,0,64.99,8.05
2,bredasdorp,ZA,-34.53,20.04,62,0,55.00,8.05
3,morondava,MG,-20.30,44.28,69,0,79.08,9.06
4,straumen,NO,63.87,11.30,52,0,68.00,9.17
5,naryan-mar,RU,67.67,53.09,90,0,27.24,8.19
6,ancud,CL,-41.87,-73.83,70,0,48.20,9.17
7,la libertad,PE,-16.38,-71.56,36,0,64.40,8.05
8,datong,CN,40.09,113.30,23,0,55.32,9.44
9,qinhuangdao,CN,39.94,119.59,40,0,57.48,8.41
10,birjand,IR,32.86,59.22,26,0,71.60,9.17
11,veraval,FR,49.65,0.71,62,0,61.00,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [96]:
hotel_df = weather_reduced_city_df

# hotel_df = pd.DataFrame(cities_df, columns = ['City', 'Country', 'Lat', 'Lng','Humidity', 'Cloudiness', 'Max Temp', 'Wind Speed'])
# #hotel_df.head()
# #add Hotel Name column 
hotel_df['Hotel Name'] = ''

# shift column 'Hotel Name' to third position position for organizational purposes
first_column = hotel_df.pop('Hotel Name')
hotel_df.reset_index()
  
# insert column to the third position for orgnazational purposes
hotel_df.insert(0, 'Hotel Name', first_column)
hotel_df

,Hotel Name,City,Country,Lat,Lng,Humidity,Cloudiness,Max Temp,Wind Speed
0,,castro,CL,-42.48,-73.76,70,0,48.20,9.17
1,,varhaug,NO,58.61,5.65,63,0,64.99,8.05
2,,bredasdorp,ZA,-34.53,20.04,62,0,55.00,8.05
3,,morondava,MG,-20.30,44.28,69,0,79.08,9.06
4,,straumen,NO,63.87,11.30,52,0,68.00,9.17
5,,naryan-mar,RU,67.67,53.09,90,0,27.24,8.19
6,,ancud,CL,-41.87,-73.83,70,0,48.20,9.17
7,,la libertad,PE,-16.38,-71.56,36,0,64.40,8.05
8,,datong,CN,40.09,113.30,23,0,55.32,9.44
9,,qinhuangdao,CN,39.94,119.59,40,0,57.48,8.41
10,,birjand,IR,32.86,59.22,26,0,71.60,9.17
11,,veraval,FR,49.65,0.71,62,0,61.00,8.05

In [97]:
'''
Use Google Places API to find the first hotel for each city located
    within 5,000 meters of your coordinates.
'''

# #list of hotels 
# hotels = []

#geocoordinates
# target_coordinates = f"{hotel_df['Lat'][0]}, {hotel_df['Lng'][0]}"
target_search ='hotel'
target_radius = 5000


#setup parameters dictionary
params = {
  #  'location': target_coordinates, 
   # 'rankby': 'distance',
    'keyword': target_search, 
    'radius': target_radius, 
    'type': 'lodging', 
    'key': g_key
    
}


base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(base_url, params=params).json()

In [98]:

#loop through all hotels using itterrows 
for index, row in hotel_df.iterrows():
    #it returns the index at that row     
     #hotel = row['Hotel Name']
    lat = row['Lat']
    lng = row['Lng']
    #update address key value 
    params['location'] =f"{lat}, {lng}"

    #lat = hotel_df['results'][0]['location']

    #make a request , get results 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    results = response['results']
    print(f"retrieving results for index {index}: {row['City']}")
    
    try: 
    
        print(f"Closest hotel is {results[0]['name']}.")    
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
        
    except (KeyError, IndexError): 
        print('Missing field/result... skipping')
        
    print('-------------')

retrieving results for index 0: castro
Closest hotel is Enjoy ChiloÃ©. Hotel De La Isla.
-------------
retrieving results for index 1: varhaug
Missing field/result... skipping
-------------
retrieving results for index 2: bredasdorp
Closest hotel is Victoria Hotel - Bredasdorp.
-------------
retrieving results for index 3: morondava
Closest hotel is Palissandre Cote Ouest resort & SPA.
-------------
retrieving results for index 4: straumen
Closest hotel is JÃ¦gtvolden Fjordhotell.
-------------
retrieving results for index 5: naryan-mar
Closest hotel is Polar Capital.
-------------
retrieving results for index 6: ancud
Closest hotel is Panamericana Hotel Ancud.
-------------
retrieving results for index 7: la libertad
Closest hotel is Casa Andina Select Arequipa Plaza.
-------------
retrieving results for index 8: datong
Closest hotel is Datong Weidu International Hotel.
-------------
retrieving results for index 9: qinhuangdao
Closest hotel is Shangri-la Hotel,Qinhuangdao.
-------------
retrieving results for index 10: birjand
Closest hotel is Ù…Ù‡Ù…Ø§Ù† Ù¾Ø°ÛŒØ± Ù†ÙˆÛŒØ¯.
-------------
retrieving results for index 11: veraval
Closest hotel is B&B HOTEL.
-------------

In [102]:
'''
Not asked for but below is the code i would use to clean the table
clean data, city of Varhaug didnt return a hotel name, was left 

'''

#taking that empty value turning into NaN, then dropping NaN 
#hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
#hotel_df.dropna(subset=['Hotel Name'], inplace=True) 

#make the city names capitalized, currently all lower-cased
#hotel_df['City'] = hotel_df['City'].str.upper()

#fix index to the Hotel Names, since dropping the city of Varhaug made the index 0,2,3..etc
# hotel_df.set_index('Hotel Name', inplace=True)
# hotel_df

'\nNot asked for but below is the code i would use to clean the table\nclean data, city of Varhaug didnt return a hotel name, was left \n\n'

In [103]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [113]:
# Add marker layer ontop of heat map

hotel_pins = gmaps.symbol_layer( 
    locations, fill_color='rgba(0,0,180,0.4)', 
    stroke_color='rgba(0,0,180,0.4)', 
    scale=2, 
    info_box_content=hotel_info
)

target_coordinates = hotel_df[['Lat', 'Lng']]
markers = gmaps.marker_layer(target_coordinates)

fig.add_layer(markers)
fig.add_layer(hotel_pins)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))